// 字体图标
.iconfont {
  display: block;
}

// element plus

// 消息
.el-message {
  z-index: 99999 !important;

  .el-icon {
    font-size: 15px !important;
  }
}

// 指令loading
.el-loading-mask {
  background-color: rgba(225, 225, 225, 0.4) !important;
}

// vant
.van-popup {
  background: transparent !important;
}

// 通用弹窗
.em-pop-wrap {
  width: 345rem;
  border-radius: 10rem;
  background-color: #eaf4ff !important;
  border: solid 2px #fff;
}

// 箭头
.icon-arrow {
  cursor: pointer;
}

// 加载中和空数据
.loading,
.empty {
  text-align: center;
  margin: 10rem 0;
}

// 按钮通用样式
.func-btn {
  $color: #07caf0;
  $range: 2px; // 下沉幅度

  background-image: linear-gradient(90deg, #18e7ca 0%, #01c0fd 100%);
  border-radius: 100px;
  color: #fff;
  box-shadow: 0 $range 0 0 $color;
  padding-top: $range;

  // 下沉效果
  &.sink {
    &:active {
      // box-shadow: 0 1px 0 0 #2877c9;
      box-shadow: 0 0 0 0 $color;
      transform: translateY($range);
    }
  }

  // 置灰
  &.disable {
    filter: grayscale(99%);
  }
}

@keyframes gradient {
  0% {
    background-position: 0% 25%;
  }
  25% {
    background-position: 25% 50%;
  }
  50% {
    background-position: 50% 75%;
  }
  100% {
    background-position: 100%;
  }
}

$peach: #ffac55;
$purple: #ff8656;
$blue: #ff8055;

.dapp-btn--active {
  border: none !important;
  -webkit-appearance: none;
  background: linear-gradient(to right, $purple 0%, $blue 50%, $peach 100%);
  background-size: 200%;
  animation-name: gradient;
  -webkit-animation-name: gradient;
  animation-duration: 2s;
  -webkit-animation-duration: 2s;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
  animation-direction: alternate;
}

.dapp-btn {
  width: 164rem;
  height: 46rem;
  @include -height(52rem, 46rem, 46rem);
  color: #efefef;
  @include -font-size(22rem, 14rem, 14rem);
  border-radius: 6rem;
  border: 1px solid #efefef;
  &:hover {
    @extend .dapp-btn--active;
  }
  /* animation: name duration timing-function delay iteration-count direction alternate; */
}

.home-title {
  font-size: 64rem;
  font-weight: 600;
  font-family: founder-semi-bold;
}
