@font-face {
  font-family: 'founder-bold';
  src: url('FoundersGrotesk-Bold.otf') format('truetype');
}

@font-face {
  font-family: 'founder-regular';
  src: url('FoundersGrotesk-Regular.otf') format('truetype');
}

@font-face {
  font-family: 'founder-semi-bold';
  src: url('FoundersGrotesk-Semibold.otf') format('truetype');
}
